<h1 id="header" class="">TItle</h1>
<div class="pt-triggers">
  <button id="iterateEffects" class="pt-touch-button">Show next page transition</button>
</div>

<div id="pt-main" class="pt-perspective">
    <div class="pt-page pt-page-1 pt-page-current pt-page-moveToLeft ">
        <h1><span>A collection of</span><strong>Page</strong> Transitions</h1>
    </div>
    <div class="pt-page pt-page-2"><h1>blasas</h1></div>
    <!-- ... -->
</div>
