<div id="banner">
  <div class="container">
    <div id="banner-content">
      <div class="tagline">
        Interactive social photo wall
      </div>
      <div class="description">
        Hook up a projector and get your
        interactive installation running
        in less then 5 minutes.
      </div>
      <div class="form">
        <input value="#cats">
        <div class="btn btn-primary btn-lg">Try it!</div>
        <div style="clear:both;"></div>
      </div>
    </div>
  </div>
</div>
<div class="landing-body">
<div class="container">
<h1>Description</h1>
Par recenica opisa
VIDEO
<hr>
Social network ikone - sto sve podrzavammo
<hr>
Registration form
</div>
