<div id="banner">
  <div class="container">
    <div id="banner-content">
      Your personalized interactive photo wall
      </br>
      <input> Try out
    </div>
  </div>
</div>
<div class="landing-body">
<div class="container">
<h1>Description</h1>
Par recenica opisa
VIDEO
<hr>
Social network ikone - sto sve podrzavammo
<hr>
Registration form
</div>
