<div id="banner">
  <div class="container">
    <div id="banner-content">
      <div class="tagline">
        Interactive social photo wall
      </div>
      <div class="description">
        Hook up a projector and get your
        interactive installation running
        in less then 5 minutes.
      </div>
      <div class="form">
        <div class="btn btn-primary btn-lg">
          <i class="fa fa-bolt"></i>
          See it in action
        </div>
      </div>
    </div>
  </div>
</div>
<div class="landing-body">
<div class="container">
<h1>Features</h1>
<ul>
  <li>Collect photos from Instagram and Twitter hastag</li>
  <li>Upload photos directly from your local collection</li>
  <li>Pre-moderation - require photo approval before showing them</li>
</ul>
VIDEO
<hr>
Social network ikone - sto sve podrzavammo
<hr>
Registration form
</div>
