<%# @photos.each do |photo| %>
  <%# <div class="photo-frame"> %>
    <%#= image_tag photo, :class => "photo" %>
  <%# </div> %>
<%# end %>

<div id="info">
  </br>
  <p><%= image_tag '/logo.png' %></p>
  <p>
    Instagram images with
    <h1>#zipparty</h1>
    photo with most likes wins</br>
    $100,000 investment
  </p>
</div>

<div class="wall">
</div>

