<%# @photos.each do |photo| %>
  <%# <div class="photo-frame"> %>
    <%#= image_tag photo, :class => "photo" %>
  <%# </div> %>
<%# end %>

<div class="info-bar"> <div class="content"> Send to #blah blah <div class="bounce animated"> bla bla </div></div> </div>
<div class="wall">
  <% 6.times do |i| %>
    <div id="photo-frame-<%=i%>" class="photo-frame animated rotateIn">
      <%= image_tag "/stock/#{rand(1..6)}.jpg" %>
      <%= image_tag "/stock/#{rand(1..6)}.jpg", id: "photo-#{i}" %>
    </div>
  <% end %>
</div>