<div class="controls <%= item.status %>">
  <% if item.status != 'approved' %>
    <%= link_to approve_item_path(item), remote: true do -%><i class="fa fa-check"></i>Approve<% end %>
  <% else %>
    <i class="fa fa-check"></i>Approve
  <% end %>
  |
  <% if item.status != 'banned' %>

    <%= link_to ban_item_path(item), remote: true do -%>
      <i class="fa fa-times"></i>Block photo
    <% end %>
    <%= link_to ban_user_wall_path(item.wall_id, item.id), remote: true do -%>
      <i class="fa fa-times"></i>Block user
    <% end %>
  <% else %>
    <i class="fa fa-times"></i>Block
  <% end %>
</div>