<% @items.each do |item|  %>
  <div id="control">
    <%= render partial: 'items/item', locals: { item: item } %>
  </div>
<% end %>

<%= will_paginate @items, renderer: BootstrapPagination::Rails %>
