<div id="info">
  <br/>
  <p><%= image_tag '/logo.png' %></p>
  <p>
    <%= raw @wall.description %>
  </p>
</div>

<div id="wall" class="wall" data-frames-url="<%= frame_wall_path(@wall,@wall_instance_id) %>"></div>