<div id="info">
  <br/>
  <p><%= image_tag '/logo.png' %></p>
  <p>
    Instagram images with hashtag
    <h1>#mStart2014</h1>
    We give away awesome prizes <br/>
    for best photo every day!
  </p>
</div>

<div class="wall"></div>