<div id="info">
  <br/>
  <p>
    <%= image_tag @wall.logo.url %>
  </p>
  <div class="description">
    <%= parse_hypecode @wall.description %>
  </div>
</div>

<div id="wall" class="wall" data-frames-url="<%= frame_wall_path(@wall,@wall_instance_id) %>"></div>