<div id="image_<%= item.id %>" class="box" style="background-image: url('<%= item.url %>');">
  <%= render partial: 'walls/approve_menu', locals: { item: item } %>
  <% if item.text %> 
  	<%= item.text %> 
  <% end %>
</div>