body { 
  background-image: url('/assets/landing.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.landing-body {
  background-color: white;
  min-height: 1000px;
}

#banner {
  height: 600px;
}

#banner-content {
  width: 100%;
  text-align: center;
  margin-top: 180px;

  .tagline {
    color: white;
    font-size: 60px;
  }

  .description {
    color: #eee;
    font-size: 20px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }

}

.feature {
  border-bottom: 1px solid #ddd;
  width: 100%;
  padding: 40px 0;

  .description {
    font-size: 18px;
    color: #555;
  }

  .fa {
    width: 40px;
  }
}

.pricing {
  width: 100%;
  padding: 40px 0;
}

.feature-right {
  text-align: right;
}

.btn-hype {
  background-color: #fc224b;
  border-color: #fc224b;
}
.get-started {
  margin-top: 50px;

  .description {
    font-size: 18px;
  }

  .sign-up {
    padding-top: 28px;
  }
}

.strikeout {
    position: relative;
    color: #444;
}
.strikeout::after {
    border-bottom: 3px solid #444;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 50%;
}
