body { 
  background-image: url('/assets/landing.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.landing-body {
  background-color: white;
  min-height: 1000px;
}

#banner {
  height: 600px;
}

#banner-content {
  width: 100%;
  text-align: center;
  margin-top: 180px;

  .tagline {
    color: white;
    font-size: 60px;
  }

  .description {
    color: #eee;
    font-size: 20px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }

  .form {
    margin-left: auto;
    margin-right: auto;
    width: 350px;

    input {
      display: block;
      float: left;
      font-size: 20px;
      padding: 5px;
      margin-top: 2px;
      margin-right: 10px;
      color: #555;
      border: 2px solid #aaa;
    }

    .btn {
      display: block;
      float: left;
      background-color: #fc224b;
      border-color: #fc224b;
    }
  }
}