// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

.photo {
}

.info-bar {
  background-color: black;
    background-color: rgba(0,0,0,0.5);
  width: 100%;
  color: white;
  position: absolute;

  .content {
    padding: 10px;
  }
}
.wall {
  border: 0px solid black;
  width: 100%;
  height: 100%;

  .photo-frame {
    width: 33.333333%;
    height: 50%;
    overflow: hidden;
    float: left;
    background-color: gray;
    position: relative;

    img {
      position: absolute;
    }
  }
}



