.stretch {
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:center;
  background-size: 100% auto;
}

.center {
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:center;
}

.tile {
  background-repeat: repeat;
}

#info {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  text-align: center;

  #description {
    position: relative;
    top: 200px;

    p {
      margin-bottom: 0;
    }
  }

  .description {
    font-size: 40px;

    overflow: hidden;

    .large {
      font-size: 80px;
    }
  }

  .helvetica {
    font-family: helvetica;
  }

  .lobster {
    font-family: 'Lobster', cursive;
  }

  .light {
    color: white;
    text-shadow:
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
  }

  .dark {
    color: #111;
    text-shadow:
     -1px -1px 0 #ddd,
      1px -1px 0 #ddd,
      -1px 1px 0 #ddd,
       1px 1px 0 #ddd; 
  }
}
