body, html {
  height: 100%;
}

#wall-edit-preview {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;

  .description-editor {
    margin-left: auto;
    margin-right: auto;
    width: 500px;

    textarea {
      height: 300px;
    }
  }

  .tool-box {
    background-color: rgba(255,255,255,0.9);
    border: 2px solid #ddd;
    padding: 10px;
    text-align: left;
    margin-top:15px;
  }

  .logo-tool-box {
    width:300px;
    margin-left: auto;
    margin-right: auto;
  }

  #bg-select {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  #btn-bg-select {
    position: absolute;
    right: 10px;
    top: 10px;
  }

}

.wall-list {
 .box {
    width: 32%;
    height: 150px;
    background-color: #ddd;
    margin-bottom: 10px;
    border: 3px solid #ddd;
    float: left;
    margin-right: 1%;
    position: relative;

    .edit {
      display: block;
      position: absolute;
      bottom: 5px;
      right: 5px;
    }
  }

  h1 {
  line-height: 20px;
  background-color: #000;
  background-color: rgba(1,1,1,0.65);
  width: 100%;
  margin-top: 0;
  font-size: 20px;

   a {
    color: white;
    padding: 10px;
    display: block;
   }

   a:hover {
    text-decoration: none;
    color: #ddd;

   }
  }
}

.wall-list:after {
  clear: both;
}

#control {
  .box {
    float: left;
    width:32%;
    margin-bottom: 20px;
    margin-right: 1%;
    height: 300px;
    background-repeat:no-repeat;
    background-position:center;
    background-size: 100% auto;
    background-color: #ddd
  }

  .controls {
    margin: 5px;
    padding: 5px;
    color: #333;

    a {
      color: black;
      font-weight: bold;
      text-decoration: underline;
    }
  }

  .pending_approval {
    background-color: white;
    background-color: rgba(225,225,225,0.9);
  }

  .banned {
    background-color: red;
    background-color: rgba(225,  0,  0,0.9);
  }

  .approved {
    background-color: green;
    background-color: rgba(0,225,0,0.9);
  }
}
